$color-transparent: transparent;
$color-default-white: #fff;
$color-default-black: #000;

$ff-inter: 'Inter', 'Arial', sans-serif;

// Viewports
//---------------------------------

$vp--320: 320px;
$vp--360: 360px;
$vp--375: 375px;
$vp--500: 500px;
$vp--768: 768px;
$vp--900: 900px;
$vp--1024: 1024px;
$vp--1246: 1246px;
$vp--1280: 1280px;
$vp--1440: 1440px;
$vp--1680: 1680px;
$vp--1920: 1920px;
$vp--2560: 2560px;
